@page
@model VanbaApp.Pages.Rules.IndexModel

@{
    ViewData["Title"] = "Regeln";
}

<h1>Regeln</h1>

<p>
    <a asp-page="Create">neue Regel hinzufügen</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Rule[0].ShortDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rule[0].Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Rule) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ShortDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID"><img src="Img/edit.png" alt="Edit" class="list-icon"/></a> |
                <a asp-page="./Details" asp-route-id="@item.ID"><img src="Img/info.png" alt="Details" class="list-icon"/></a> |
                <a asp-page="./Delete" asp-route-id="@item.ID"><img src="Img/delete.png" alt="Delete" class="list-icon"/></a>
            </td>
        </tr>
}
    </tbody>
</table>
